:root{
	--mainColor:  #1e453e;
	--secondaryColor:#2c4c3b;

	--borderColor:#161914;

	--mainText:#d8c8a9;
	--secondaryText:#f2eadb;

	--themeDotBorder:#FFF;

	--previewBg:rgb(69,91,85,0.8);
	--previewShadow:#182c25;


	--buttonColor: #36764c;


}